body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
  position: relative;
  background-image: url('/Bilder/YsWRDA.gif');
    background-repeat: no-repeat;
    background-size: cover;  /* Dette vil sørge for at GIFen dekker hele skjermen */
    background-attachment: fixed; 
}

.main-box {
  background: linear-gradient(to bottom right, #ffffff, #e9e9e9);
  width: 500px;
  height: 350px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; 
  left: 10%; /* Litt mot venstre */
  top: 20%;
}

h1 {
  margin: 0;
  color: #333;
  font-size: 2.8rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.overlay-box {
  background: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 65%;  /* Flyttet litt mer til høyre */
  top: 70%;   /* Flyttet litt lenger ned */
}

.overlay-box img {
  max-width: 95%; 
  height: auto;
  border-radius: 10px;
}


.big-box {
  background: rgba(235, 235, 235, 0.8); 
  width: 500px;
  height: 350px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: absolute;
  right: 10%;  /* Plassert nederst til høyre */
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsiv design for tablets */
@media screen and (max-width: 768px) {
  .main-box {
      width: 80%;
      height: 300px;
  }

  h1 {
      font-size: 2.3rem;
  }
}

/* Responsiv design for mobilskjermer */
@media screen and (max-width: 480px) {
  .main-box {
      width: 90%;
      height: 250px;
  }

  h1 {
      font-size: 2rem;
  }

  .overlay-box {
      width: 150px; 
      height: 150px; 
      left: 15%;
      top: 35%;
  }

  .big-box {
      width: 250px;
      height: 250px;
      right: 5%;
      bottom: 5%;
  }
}

.corner-box {
  font-family: 'Montserrat', sans-serif;
  background: rgba(235, 235, 235, 0.8); 
  width: 700px;
  height: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: absolute;
  right: 9%;  /* Gir litt avstand fra høyre kant */
  bottom: 15%; /* Gir litt avstand fra bunnen */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px; 
  
  
}

.corner-box h1 {
  font-family: 'Montserrat', sans-serif; /* Bruker Montserrat for konsistens */
  font-weight: 600; /* Medium tykkelse for lesbarhet */
  font-size: 1.5rem; /* Justerer skriftstørrelsen */
  color: #ffffff; /* Hvit farge for god kontrast mot gradientbakgrunnen */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* En liten tekstskygge for dybde */
  text-align: center; /* Sentrerer teksten horisontalt */
  letter-spacing: 1px; /* Litt avstand mellom bokstavene for stil */

  
  

}



nav {
  width: 100%;
  background-size: cover;
  padding: 30px 0; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; 
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #000000;  
  text-decoration: none;
  font-weight: 700; 
  padding: 10px 30px;  
  border: 2px solid #77717a; 
  border-radius: 4px; 
  font-size: 1.2em;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #77717a; 
}

.corner-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem; 
  color: #333;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 15%;  /* Liten avstand fra toppen */
  right: 16%;  /* Samme avstand fra høyre som corner-box */
  z-index: 10;  /* Sørg for at teksten er over corner-box */
    margin: 0;

}

